<% content_for :title do %>
	Bem-vindo
<% end %>

<% content_for :description do %>
	Olá, <%= @user_name %>
<% end %>

<% content_for :data do %>
	<span style="font-size:15px">
		<%= @user_email %>
	</span>
<% end %>